{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-offset-2 col-lg-8">
        <h2>Comadre SMS System</h2>

        <p>Use this form to send SMS notifications to any subscribers.</p>
        <br>
        
        <!-- <form method="POST" class="form-horizontal" role="form"> /-->
        <form  action="" method="post" role="form">
         {{ form.csrf_token }}
            
            <div class="form-group">
                <div>
                <label for="zipCode"> Zip Code </label>
                <select class="form-control" id="zipCode" name="zipCode" multiple>
                    <option> All </option>
                    <option>90620</option>
                    <option>90621</option>
                    <option>90622</option>
                    <option>90623</option>
                    <option>90624</option>
                    <option>90630</option>
                    <option>90631</option>
                    <option>90632</option>
                    <option>90633</option>
                    <option>90680</option>
                    <option>90720</option>
                    <option>90721</option>
                    <option>90740</option>
                    <option>90742</option>
                    <option>90743</option>
                    <option>92602</option>
                    <option>92603</option>
                    <option>92604</option>
                    <option>92605</option>
                    <option>92606</option>
                    <option>92607</option>
                    <option>92609</option>
                    <option>92610</option>
                    <option>92612</option>
                    <option>92614</option>
                    <option>92615</option>
                    <option>92616</option>
                    <option>92617</option>
                    <option>92618</option>
                    <option>92619</option>
                    <option>92620</option>
                    <option>92623</option>
                    <option>92624</option>
                    <option>92625</option>
                    <option>92626</option>
                    <option>92627</option>
                    <option>92628</option>
                    <option>92629</option>
                    <option>92630</option>
                    <option>92637</option>
                    <option>92646</option>
                    <option>92647</option>
                    <option>92648</option>
                    <option>92649</option>
                    <option>92650</option>
                    <option>92651</option>
                    <option>92652</option>
                    <option>92653</option>
                    <option>92654</option>
                    <option>92655</option>
                    <option>92656</option>
                    <option>92657</option>
                    <option>92658</option>
                    <option>92659</option>
                    <option>92660</option>
                    <option>92661</option>
                    <option>92662</option>
                    <option>92663</option>
                    <option>92672</option>
                    <option>92673</option>
                    <option>92674</option>
                    <option>92675</option>
                    <option>92676</option>
                    <option>92677</option>
                    <option>92678</option>
                    <option>92679</option>
                    <option>92683</option>
                    <option>92684</option>
                    <option>92685</option>
                    <option>92688</option>
                    <option>92690</option>
                    <option>92691</option>
                    <option>92692</option>
                    <option>92693</option>
                    <option>92694</option>
                    <option>92697</option>
                    <option>92698</option>
                    <option>92701</option>
                    <option>92702</option>
                    <option>92703</option>
                    <option>92704</option>
                    <option>92705</option>
                    <option>92706</option>
                    <option>92707</option>
                    <option>92708</option>
                    <option>92711</option>
                    <option>92712</option>
                    <option>92728</option>
                    <option>92735</option>
                    <option>92780</option>
                    <option>92781</option>
                    <option>92782</option>
                    <option>92799</option>
                    <option>92801</option>
                    <option>92802</option>
                    <option>92803</option>
                    <option>92804</option>
                    <option>92805</option>
                    <option>92806</option>
                    <option>92807</option>
                    <option>92808</option>
                    <option>92809</option>
                    <option>92811</option>
                    <option>92812</option>
                    <option>92814</option>
                    <option>92815</option>
                    <option>92816</option>
                    <option>92817</option>
                    <option>92821</option>
                    <option>92822</option>
                    <option>92823</option>
                    <option>92825</option>
                    <option>92831</option>
                    <option>92832</option>
                    <option>92833</option>
                    <option>92834</option>
                    <option>92835</option>
                    <option>92836</option>
                    <option>92837</option>
                    <option>92838</option>
                    <option>92840</option>
                    <option>92841</option>
                    <option>92842</option>
                    <option>92843</option>
                    <option>92844</option>
                    <option>92845</option>
                    <option>92846</option>
                    <option>92850</option>
                    <option>92856</option>
                    <option>92857</option>
                    <option>92859</option>
                    <option>92861</option>
                    <option>92862</option>
                    <option>92863</option>
                    <option>92864</option>
                    <option>92865</option>
                    <option>92866</option>
                    <option>92867</option>
                    <option>92868</option>
                    <option>92869</option>
                    <option>92870</option>
                    <option>92871</option>
                    <option>92885</option>
                    <option>92886</option>
                    <option>92887</option>
                    <option>92899</option>

                </select>
                </div>
                <br>
                
                <div>
                    <label for="zipCode"> Interests </label>
                    <select class="form-control" id="interest" name="interest" multiple>
                        <option> All </option>
                        <option> Science/Tech </option>
                        <option> Arts </option>
                        <option> Sports </option>
                        
                    </select>
                    <br>
                </div>
                
                <label for="childAge">Child Age</label>
                <input type="text" class="form-control" id="childAge" name="childAge" placeholder="Please enter child's age(s) separated by comma">
                
            </div>
            
            <div class="form-group">
                <br>
                <label for="language">Language Preference</label>
                    <br>
                    <select class="form-control" id="language" name="language">
                        <option> Spanish </option>
                        <option> English </option>
                    </select>
                    
                <br>
                <label for="message">Message</label>
                <textarea type="text" class="form-control" id="message" placeholder="Enter your message here..." rows="15", cols="60" name="message"></textarea>
            </div>
            
            
            <button type="submit" class="btn btn-success">Send Message</button>
        </form>
        
        <br>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        
        {% for message in messages %}
        {% if "Error" not in message[1]: %}
        <div class="alert alert-info">
            <strong>Success! </strong> {{ message[1] }}
        </div>
        {% endif %}
        
        {% if "Error" in message[1]: %}
        <div class="alert alert-warning">
            {{ message[1] }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}

{% endblock %}
