<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Comadre SMS Solution</title>
    
    
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw=="
        crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"
            integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg=="
            crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    
    <!-- <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0"> -->
</head>
<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Comadre SMS System</a>
        </div>
    </div>
    <div class="container">
        <!-- {% block content %}{% endblock %} -->

    </div>
    

    <!-- {% block scripts %}{% endblock %} -->
</body>
</html>
